<footer class="pt-4 my-md-5 pt-md-5 border-top text-center">
    <div class="row">
        <div class="col-12 col-md">
            <img class="mb-2" src="http://www.w3.org/2000/svg" alt="">
            <small class="d-block mb-3 text-muted">© 2020-2021</small>
        </div>
        <div class="col-6 col-md">
            <h5>КОНТАКТЫ</h5>
            <ul class="list-unstyled text-small">
                <li>Linkedin: <a href="https://www.linkedin.com/in/владислав-шинкарьов-25b53a1b6/" class="text-muted">Ссылка</a>
                </li>
                <li>E-mail: RoyalSam@ukr.net</li>
                <li>Номер телефона: (068)-90-07-931</li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>Принимаем </h5>
            <svg width="1em" height="1em" viewBox="25" class="bi bi-credit-card" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z"></path>
                <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z"></path>
            </svg>
            <svg width="1em" height="1em" viewBox="25" class="bi bi-cash" fill="currentColor"
                 xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                      d="M15 4H1v8h14V4zM1 3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H1z"></path>
                <path d="M13 4a2 2 0 0 0 2 2V4h-2zM3 4a2 2 0 0 1-2 2V4h2zm10 8a2 2 0 0 1 2-2v2h-2zM3 12a2 2 0 0 0-2-2v2h2zm7-4a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"></path>
            </svg>


        </div>
        <div class="col-6 col-md">
            <h5>DOMI PIZZA</h5>
            <ul class="list-unstyled text-small">
                <li><a class="text-muted" href="https://media.dominos.ua/allergens_info/allergeny_rus.pdf">Информация по содержанию аллергенов</a></li>
            </ul>
        </div>
    </div>
</footer>