<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <script src="{% static "vendor/js/jquery-3.3.1.slim.min.js" %}" defer></script>

    <script src="{% static "vendor/js/popper.min.js" %}" async></script>

    <link rel="stylesheet" href="{% static "vendor/css/bootstrap.min.css" %}">

    <script src="{% static "vendor/js/bootstrap.min.js" %}" defer></script>
    <meta charset="UTF-8">
    <title>Pizza</title>
</head>
<body>
{% include 'pizza/basehead.html' %}
<div class="container">
    {% for cat in category %}
        <h1 class="text-center">{{ cat.category_name }}</h1>
        <div class="row">
            {% for pizza in cat.pizza_set.all %}
                <div class="col-sm-12 col-lg-6 pb-2">
                    <div class="card h-100 shadow">
                        <img class="card-img-top" src="{% static pizza.pizza_img %} " alt="{{ pizza.pizza_name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ pizza.pizza_name }}</h5>
                            <p class="card-text">{{ pizza.ingredients.all|join:", " }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
</body>
</html>