<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <script src="{% static "vendor/js/jquery-3.3.1.slim.min.js" %}" defer></script>

    <script src="{% static "vendor/js/popper.min.js" %}" async></script>

    <link rel="stylesheet" href="{% static "vendor/css/bootstrap.min.css" %}">

    <script src="{% static "vendor/js/bootstrap.min.js" %}" defer></script>
    <meta charset="UTF-8">
    <title>Pizza</title>
</head>
<body>
{% include 'pizza/basehead.html' %}
<div class="container">
    {% for cat in category %}
        <h1 class="text-center">{{ cat.category_name }}</h1>
        <div class="row">
            {% for pizza in cat.pizza_set.all %}
                <div class="col-sm-12 col-lg-6 pb-2">
                    <div class="card h-100 shadow">
                        <img class="card-img-top" src="{% static pizza.pizza_img %} " alt="{{ pizza.pizza_name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ pizza.pizza_name }}</h5>
                            <p class="card-text">{{ pizza.ingredients.all|join:", " }}</p>
                        </div>
                        <div class="accordion" id="accordion{{ pizza.id }}Example">
                            <div class="card">
                                <div class="card-header" id="heading{{ pizza.id }}One">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link text-secondary" data-toggle="collapse"
                                                data-target="#collapse{{ pizza.id }}One"
                                                aria-expanded="true" aria-controls="collapse{{ pizza.id }}One">
                                            Маленькая
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapse{{ pizza.id }}One" class="collapse show"
                                     aria-labelledby="heading{{ pizza.id }}One"
                                     data-parent="#accordion{{ pizza.id }}Example">
                                    <div class="card-body">
                                        <h6>Вес: {{ pizza.weight.small_pizza_weight }}гр</h6>
                                        <h6>Цена: {{ cat.price.small_pizza_price }}</h6>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-header" id="heading{{ pizza.id }}Two">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed text-secondary" data-toggle="collapse"
                                                data-target="#collapse{{ pizza.id }}Two"
                                                aria-expanded="false" aria-controls="collapse{{ pizza.id }}Two">
                                            Средняя
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapse{{ pizza.id }}Two" class="collapse"
                                     aria-labelledby="heading{{ pizza.id }}Two"
                                     data-parent="#accordion{{ pizza.id }}Example">
                                    <div class="card-body">
                                        <h6>Вес: {{ pizza.weight.medium_pizza_weight }}гр</h6>
                                        <h6>Цена: {{ cat.price.medium_pizza_price }}</h6>
                                    </div>
                                </div>
                            </div>


                            <div class="card">
                                <div class="card-header" id="heading{{ pizza.id }}Three">
                                    <h2 class="mb-0">
                                        <button class="btn btn-link collapsed text-secondary" data-toggle="collapse"
                                                data-target="#collapse{{ pizza.id }}Three" aria-expanded="false"
                                                aria-controls="collapse{{ pizza.id }}Three">
                                            Большая
                                        </button>
                                    </h2>
                                </div>
                                <div id="collapse{{ pizza.id }}Three" class="collapse"
                                     aria-labelledby="heading{{ pizza.id }}Three"
                                     data-parent="#accordion{{ pizza.id }}Example">
                                    <div class="card-body">
                                        <h6>Вес: {{ pizza.weight.large_pizza_weight }}гр</h6>
                                        <h6>Цена: {{ cat.price.large_pizza_price }}</h6>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
    {% include 'pizza/basefooter.html' %}
</div>
</body>
</html>